################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Knihovna_BCSH2/.vs/Knihovna_BCSH2/FileContentIndex/687f887f-2da8-42a9-8f10-826b70309088.vsidx
/Knihovna_BCSH2/.vs/Knihovna_BCSH2/FileContentIndex
